.main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
  }
  .content{
    background-color: black ;
    border-radius: 10px;
    border-color: white;
    font-size: 40px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
  }

  .glow:hover {
    font-size: 40px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;

  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #14E25E, 0 0 40px #14E25E, 0 0 50px #14E25E, 0 0 60px #14E25E, 0 0 70px #14E25E;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #0C8839, 0 0 40px #0C8839, 0 0 50px #0C8839, 0 0 60px #0C8839, 0 0 70px #0C8839, 0 0 80px #0C8839;
    }
  }